

/* Start:/local/templates/fdrl/components/bitrix/menu/anket/style.min.css?1628606576490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(/local/templates/fdrl/components/bitrix/menu/anket/images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */


/* Start:/local/templates/fdrl/components/bitrix/voting.current/pizda1/style.css?162869528546*/
.vote-form-box-button-last {margin-left: 1em;}
/* End */


/* Start:/bitrix/components/bitrix/voting.result/templates/.default/style.css?16286122971111*/
.voting-result-box ol.vote-items-list,.voting-result-box  ol.vote-items-list li {
	margin: 0; padding: 0; border: none; font-size: 100%; list-style-type: none;}
.voting-result-box ol.vote-items-list li {
	padding: 0.55em;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;}
.voting-result-box ol.vote-items-list li.vote-item-vote-first{
	border-top: 1px solid #ccc;}
.voting-result-box .vote-item-title{
	font-weight:bold;}
.voting-result-box div.vote-item-image{
	float:left;
	padding-right:0.55em;}
.voting-result-box .vote-bar-table {
	width:98%; }
.voting-result-box .vote-answer-table,.voting-result-box  .vote-answer-table td, .vote-bar-table, .vote-bar-table td {
	font-size:100%; }
.vote-answer-table .answer-counter {
    text-align:right; }
.vote-answer-bar {
    height: 16px;
    float: left;
    margin-top:3px; }
.vote-answer-counter {
    display:block;
    float:left;
    line-height:23px;
    width:19%;
}
.vote-answer-lolight {
    color:#999; }
.voting-result-box form {
	margin:0;}
.voting-result-box .vote-bar-square {
	width:10px;
	height:10px;}

/* End */
/* /local/templates/fdrl/components/bitrix/menu/anket/style.min.css?1628606576490 */
/* /local/templates/fdrl/components/bitrix/voting.current/pizda1/style.css?162869528546 */
/* /bitrix/components/bitrix/voting.result/templates/.default/style.css?16286122971111 */
